@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
html, body{font-family: 'Nunito', sans-serif;}
body{font-size:15px;position:relative;}
img.lazy{opacity:0;}
img{opacity:1;transition:all 1s;animation: fadeIn 4s ease;}
img.nolazy{transition:none !important;animation:none !important;}
#header{background:#454545;}
#logo{padding: 16px 0;display: block;width:300px;}
.home #header{position:absolute;width:100%;background:transparent;}
.form-search-container .form-group{position:relative;}
ul.menu{list-style:none;padding:0;margin:0;}
ul.menu li{float:left;}
ul.menu li a{float:left;display:block;color:#fff;padding:4px 15px;}
#navigation{float:right;margin:23px 0;padding:0;}
#category-sidebar, #cartegory-sidebar-listing{position:relative;height:100%;}
#category-sidebar .widget:first-child, #cartegory-sidebar-listing .widget:first-child{position:sticky;top:110px;}
#categories-filter{border:1px solid #ececec;}
#categories-filter .filter-letter{text-align: center;font-size: 29px;line-height:44px;font-weight: 400;margin:0 -30px 0 0;}
#categories-filter .filter-letter-items{padding:0;border-left:1px solid #ececec;margin:0;list-style:none;}
#categories-filter .filter-letter, #categories-filter .filter-letter-items{height:100%;border-bottom:1px solid #ececec;}
#categories-filter .filter-letter-items li:nth-child(even){background:#f7f8fa;}
#categories-filter .filter-letter-items li:nth-child(odd){background:#fff;}
#categories-filter .filter-letter-items li a{display:block;padding:10px 20px;}
#categories-filter .filter-letter-items li a:hover{background:#41a6df;color:#fff;}
.list{list-style:none;padding:0;margin:0;}
.list .list-item, .blog-post-container{box-shadow:0 2px 5px 0 rgba(0,0,0,.2);border-radius:3px;padding:15px;margin:0 0 15px 0;}
.list .list-item .title, .blog-post-container h3 a{font-size:22px;color:#212529;}
.list .list-item .title a{color:inherit;}
.rating .stars-rate{font-family:FontAwesome;position:relative;}
.rating .stars-rate:before{content:'\f005\f005\f005\f005\f005';font-family:FontAwesome;color:#ccc;}
.rating .stars-rate .stars-fill{position: absolute;top:-4px;bottom:0;left: 0;width:0;}
.rating .stars-rate .stars-fill:before{content:"\f005\f005\f005\f005\f005";color:#f6a123;float:left;width:100%;overflow:hidden;}
.nav-pills .nav-item .nav-link{color:#212529;}
.btn-primary{border: 1px solid #41A6DF !important;}
.btn-primary, .nav-pills .nav-item .nav-link.active{background:#41A6DF;color:#fff;}
.btn-primary:hover{background:#41A6DF;border-color:#41A6DF;}
.btn-secondary{background:#43c801;border-color:#43c801;}
.btn-secondary:hover{background:#43c801;border-color:#43c801;}
.btn-secondary:active{background:#3eac08 !important;border-color:#3eac08 !important;}
.btn-default{border:1px solid #bcbcbc;}
.btn-green {background: #77d33c;color:#fff;border: 0;border-radius: 3px;font-size: 1.5em;}
.btn-orange {background: #f1b800;color:#fff;border: 0;border-radius: 3px;font-size: 1.5em;}
#software-top{position: sticky;top: 0;z-index: 1001;background: #f7f7f7;padding: 8px 24px 5px 24px;box-shadow: 0 2px 5px 0 rgba(0,0,0,.2);}
#software-top .software-image{text-align:center;width:133px;height:133px;margin:0 auto;position:relative;}
.software-content-container{padding-top:20px;}
#software-content, #tab-specs{padding:10px;}
#software-container{margin:0 0 20px 0;position:relative;background:#f7f7f7;}
#software-container .sidebar .card-title{border-bottom:1px solid #ececec;}
.sidebar > .card{margin:0 0 25px 0;box-shadow: 0 2px 5px 0 rgba(0,0,0,.2);}
#footer{background:#454545;}
#footer #footer-bottom{background:#222;color:#fff;padding:15px 0;}
#footer .card{background:transparent;color:#fff;border:0;}
/** comments **/
#comments-list{list-style:none;padding:0;margin:0 0 20px 0;}
#comments-list .comment{background:#fff;border:1px solid #ececec;box-shadow: 0 2px 5px 0 rgba(0,0,0,.2);margin:0 0 20px 0;}
#comments-list .comment .comment-author-data{padding:10px 0;}
#comments-list .comment .comment-software-data{padding:10px;}
#comments-list .comment .comment-software-data figure{margin:0;}
#comments-list .comment .comment-software-data .software-name{padding:20px 0;}
#comments-list .comment .comment-metas{border-top:1px solid #ececec;border-bottom:1px solid #ececec;}
#comments-list .comment .review-meta{text-align:center;padding:20px 0;}
#comments-list .comment .body{padding:20px;}
#comments-list .comment .content{padding:10px;}
#comments-list .comment .review-tick{color:#58c649;}
#comments-list .comment .review-tick-negative{color:#f24f4f;}
#comments-list .comment .comment-raitings-box{border:1px solid #ededed;padding:15px;}
#comments-list .comment .comment-raitings-box .row{margin:0 0 10px 0;}
#comments-list .comment .comment-footer{background:#f1f1f3;border-top:1px solid #ececec;}
.content-box{border:1px solid #ececec;box-shadow: 0 2px 5px 0 rgba(0,0,0,.2);}
.content-box .title{padding:10px;}
.content-box .body{padding:10px;}
#footer{}
#footer .menu{list-style:none;}
#footer .menu li{width:100%;}
#footer .menu li a, #footer a{padding:0;float:none;color:#ccc;}
#footer .card{color:#ccc;}
#footer .card .card-title{font-size:19px;color:#fff;}
#footer .card .card-body{font-size:14px;}
#reviews-score{margin:0 0 70px 0;border:1px dashed #aaa;padding:30px;box-shadow:0 0 20px #f0f0f0;}
#reviews-score .overall-score .card{width:50%;margin:0 auto;}
#reviews-score .overall-score .card .card-header{color:#fff;text-align:center;background:#e43917;}
#reviews-score .overall-score .card .card-header h3{font-size:90px;color:#fff;}
#reviews-score .overall-score .card .card-body{background:#000;color:#fff;text-align:center;font-size:11px;}
#reviews-score .criterias-points .points{}
#reviews-score .criterias-points .points .progress{margin:0 0 8px 0;}
#navbar-software{margin:8px 0 0 0;}
#navbar-software li.nav-item a{border-bottom:4px solid transparent;color:#212529;}
#navbar-software li.nav-item a.active{border-bottom:4px solid #41A6DF;font-weight:bold;}
.software-section{margin:0 0 50px 0;background:#fff;box-shadow:0 2px 5px 0 rgba(0,0,0,.2);border-radius:4px;}
.feature-group{padding:10px 0;}
.feature-group:nth-child(even){background:#f7f7f7;}
.feature-group:nth-child(odd){}
.feature{padding:5px 4px;}
.feature .has-feature{color:#00ba94;}
.feature .nonhas-feature{color:#e81500;}
#comparator-widget{font-size:20px;color:#212529;display:block;width:60px;height:65px;box-sizing: border-box;border-radius:8px 0 0 8px;background:#fff;position:fixed;z-index:2040;top:40%;right:0;box-shadow:0 2px 5px 0 rgba(0,0,0,.2);border:1px solid #ececec;padding:16px 20px;}
#comparator-widget .badge{position:absolute;top:13px;right:0;font-size:12px;color:#fff;background:red;border-radius:100px;}
#comparator-overlay{position:fixed;top:0;right:0;bottom:0;left:0;z-index:1009;background:rgba(0,0,0,0.6);}
#comparator-bar{padding:10px;position: fixed;right:0;bottom:-110px;left:0;overflow:hidden;background:#fff;z-index: 2041;transition:all 0.5s;border-top:1px solid #ececec;}
#comparator-bar.show{bottom:0;}
#comparator-header .btn-close-comparator{position:absolute;top:7px;right:8px;color:#212527;font-size:22px;}
#comparator-bar .comparator-item{background:#fff;position:relative;}
#comparator-bar .comparator-item img{max-width: 100%;border: 1px solid #ececec;height: 80px;}
#comparator-bar .comparator-item a{color:#212529;}
#comparator-bar .comparator-item .btn-remove-item{position:absolute;top:-6px;right:6px;color:#c00;}
.compare-col{padding:10px;text-align:center;}
#category-top {background: #4baae0 linear-gradient(180deg,#63b9ef,#3586bb);min-height: 250px;clear: both;padding-top: 40px;padding-bottom: 40px;}
#category-top h2 {font-size: 2.5em !important;line-height: 1.3;font-weight: 600;color: #fff !important;text-align: center;}
#category-top h3 {font-size: 24px;font-weight: 600;color: #fff;letter-spacing: 0.03em;text-align: center;}
#category-top #category-top-form {margin: 20px auto;background: rgba(0,0,0,.3);margin: 2em auto;padding-top: 2em;padding-bottom: 3em;border: 1px solid rgba(75,170,224,.3);border-radius: 10px;box-shadow: 0 2px 5px 0 rgba(0,0,0,.2);}
#category-top #category-top-form .jumbotron{font-size: 2em;text-align: center;text-shadow: 0 2px 4px hsla(0,0%,4%,.5);margin-bottom: .75em;line-height: 1.3em;color:#fff;background:transparent;padding: 0;}
#category-top #category-top-form .btn {min-width: 150px;text-align: center;padding: 6px 8px;display: inline-block;margin: 10px 10px;}
#category-content{min-height:500px;}
#category-tabs{margin:0 0 20px 0;padding:10px;border-bottom:1px solid #ececec;/*position:sticky;top:0;z-index:500;*/background:#fff;}
#category-tabs .nav-tabs{border:0;}
#category-tabs .nav-tabs .nav-link{color:#212529;font-size:18px;}
#category-tabs .nav-tabs .nav-link:hover, #category-tabs .nav-tabs .nav-link:focus, #category-tabs .nav-tabs .nav-link:active{border:1px solid transparent;}
#category-tabs .nav-tabs .nav-link.active{border:0;border-bottom:4px solid #4baae0;color:#4baae0;}
.form-consulting .card{background:#124867;}
.form-consulting .card-header{background: url(images/contact-form-photo.jpg) no-repeat top center;color:#fff;}
.form-consulting .card-header h2{color:#fff;text-align:center;font-size:28px;}
#category-listing .software-image{position:relative;text-align:center;}
.verified-badge{background:#41A6DF;color:#fff;position:absolute;top:8px;left:0;box-shadow:0 3px 10px -5px rgba(0,0,0,1);font-size:13px;padding:3px 5px;}
.verified-badge:before{width: 0;height: 0;border-style: solid;border-width: 14px 15px 0 0;border-color: #41A6DF transparent transparent transparent;border-top-color: #41A6DF;position: absolute;left: 100%;top:0;content:"";}
.verified-badge:after{width: 0;height: 0;border-style: solid;border-width: 0 15px 14px 0;border-color: transparent transparent #41A6DF transparent;border-bottom-color: #41A6DF;position: absolute;left: 100%;bottom: 0;content: "";}
.completion-results{color:#687281;list-style:none;padding:0;position:absolute;top:100%;right:0;left:0;z-index:100;background:#fff;max-height:200px;overflow:auto;border:1px solid #ececec;}
.completion-results li{padding:8px 0;cursor:pointer;}
.completion-results li:hover{background:#ececec;}
.completion-results li img{max-height:80px;}
.completion-results li .search-item-excerpt{display:none;}
.home-section{padding:40px 0;}
.home-section:nth-child(even){background:#f7f7f7;}
.home-section:nth-child(odd){background:#fff;}
#breadcrumb-container{background:#f7f7f7;}
#breadcrumb-container .breadcrumb{background:inherit;margin:0;padding:17px 6px;}
#breadcrumb-container .breadcrumb li{margin:0 5px 0 0;color:#0061f2;}
#breadcrumb-container .breadcrumb a{color:inherit;margin-right:2px;}
#social-links a{display:inline-block;width:32px;height:32px;color:#fff;text-align:center;padding:3px 0;font-size:20px;}
#social-links a.fb{background:#39599f;}
#social-links a.tw{background:#6cf;}
#social-links a.gp{background:#eb4026;}
#social-links a.ins{background:#3a82b8;}
#social-links a.yt{background:#cd0000;}
#social-links a.in{background:#66c9ff;}
.last-added{background:#fff;box-shadow:rgba(0,0,0,.15) 0 1px 2px;margin:0 0 20px 0;padding:20px;border:1px solid #efefef;}
.last-added .image{text-align:center;margin:0 0 15px 0;}
.last-added .title{margin:0 0 10px 0;}
.form-control-wrap {background: #41a6df2b;padding: 10px;border-radius: 3px;}
#software-content img{max-width:100%;}
.related-software{margin:0 0 20px 0;}
.related-software .image{text-align:center;border:1px solid #eee;padding:12px;}
.related-software .image img{border:0;height:130px;}
.related-software .name{text-align:center;padding:8px;}
.progress{height:0.7rem;}
.progress .progress-bar{background:#41a6df !important;}
#btn-mobile-menu{font-size:20px;color:#fff;float:left;display:none;}
.modal .modal-footer .submit-container{background:#F0F0F0;padding: 20px 36px;border-top: 1px solid #ddd;}
.modal .modal-content > .footer{background: #393939;color: #b8b8b8;text-align: center;padding: 10px}
.modal .modal-actions{padding:10px;}
.modal.modal-form .modal-footer{display:none;}
.cprogress{width: 150px;height: 150px;line-height: 150px;background: none;margin: 80px auto;box-shadow: none;position: relative;}
.cprogress:after{content: "";width: 100%;height: 100%;border-radius: 50%;border: 12px solid #fff;position: absolute;top: 0;left: 0;}
.cprogress > span{width: 50%;height: 100%;overflow: hidden;position: absolute;top: 0;z-index: 1;}
.cprogress .progress-left{left: 0;}
.cprogress .progress-bar{width: 100% !important;height: 100% !important;background: none;border-width: 7px;border-style: solid;position: absolute;top: 0;}
.cprogress .progress-left .progress-bar{left: 100%;border-top-right-radius: 80px;border-bottom-right-radius: 80px;border-left: 0;-webkit-transform-origin: center left;transform-origin: center left;}
.cprogress .progress-right{right: 0;}
.cprogress .progress-right .progress-bar{left: -100%;border-top-left-radius: 80px;border-bottom-left-radius: 80px;border-right: 0;-webkit-transform-origin: center right;transform-origin: center right;animation: loading-1 1.8s linear forwards;}
.cprogress .progress-value{width: 90%;height: 90%;border-radius: 50%;background: #44484b;font-size: 24px;color: #fff;line-height: 135px;text-align: center;position: absolute;top:5%;left:5%;}
.cprogress.blue .progress-bar{border-color: #41A6DF;}
.cprogress.blue .progress-left .progress-bar{animation: loading-2 2s linear forwards 1.8s;}
.cprogress.yellow .progress-bar{border-color: #fdba04;}
.cprogress.yellow .progress-left .progress-bar{animation: loading-3 1s linear forwards 1.8s;}
.cprogress.pink .progress-bar{border-color: #ed687c;}
.progress.pink .progress-left .progress-bar{animation: loading-4 0.4s linear forwards 1.8s;}
.cprogress.green .progress-bar{border-color: #1abc9c;}
.cprogress.green .progress-left .progress-bar{animation: loading-5 1.2s linear forwards 1.8s;}
.page-header{margin:0 0 20px 0;}
/*.home nav.navbar{position:fixed;width:100%;z-index:100;}*/
.home nav.navbar, .categories nav.navbar, .category nav.navbar{position:absolute;width:100%;z-index:100;}
.software nav.navbar, .full-width nav.navbar{background:#1f2d41 !important;}
nav.navbar .navbar-nav .nav-item .dropdown-menu{z-index:2000;}
.full-width main > .container-fluid{margin-top:94px;}
#software-prices{padding:10px;}
.modal .modal-form-buttons{width:100%;margin:-13px -48px !important;flex-grow:1;border-radius: 0px 0 8px 8px;}
.btn-header-no, .btn-header-yes{min-width:170px;margin:0 10px;font-size:1.2rem;}
.widget .card{border-radius: 8px;}
.widget .card .card-header{background:#79c7f2;color:#fff;padding:10px 15px;}
.widget .card .card-header .card-title{color:inherit;margin:0;}
.feature-box{list-style: none;padding:0;margin:0;border:1px solid #ececec;background:#d6dbe2;}
.feature-box > li > a{display:block;padding:10px 8px 10px 20px;background:#fff;color:#000;position:relative;}
.feature-box > li > a:after{content:'\f077';font-family:FontAwesome;position:absolute;right:8px;top:10px;font-size:10px;}
.feature-box > li > a .fa{color: #79c7f2;margin:0 5px 0 0;}
.feature-box > li > a .fa.lenguaje:before{content: '\f005';}
.feature-box > li > a .fa.modelo-de-precios:before{content: '\f155';}
.feature-box > li > a .fa.despliegue:before{content: '\f0f3';}
.feature-box > li > a .fa.industrias:before{content:'\f14a';}
.feature-box > li > a .fa.paises:before{content:'\f024';}
.feature-box > li > a .fa.category-features:before{content:'\f14a';}
.feature-box > li > a:last-child{border-radius:0 0 8px 8px;}
.feature-box .feature-items{list-style:none;padding:5px 0 0 8px;}
.feature-box .feature-items label{display:block;padding:4px 6px;cursor:pointer;color:#525257;}
.filter .custom-control-solid label::before{background:#40424a;}
.filter .custom-control-input:checked ~ .custom-control-label::before{background:#40424a;border-color:#40424a;color:#fff;}
.new-category{background:#eff3f9;}
.list-item-new{background:#fff;border-radius:10px;margin:0 0 20px 0;padding:18px;position:relative;box-shadow:6px 6px 14px 0px #ccc;}
.list-item-new .excerpt{height:140px;overflow:hidden;}
.list-item-new .rating .stars-rate .stars-fill::before{color:#fde16d;}
.list-item-new a{color:#2d53da;}
.list-item-new .title a{color:#000;}
.new-category #cartegory-sidebar-listing .widget{top:10px;}
.new-category #category-tabs{background:#eff3f9 !important;}
.new-category #category-tabs .nav-link.active{background:transparent !important;}
.new-category .btn-header-no, .new-category .btn-header-yes{min-width:110px !important;color:#fff;}
.new-category .btn-header-no{background:#2d53da;}
.new-category .btn-header-yes{background:#58bc82;}
.new-category .bg-gradient-primary-to-secondary{background:linear-gradient(135deg, #54b2f3 0%, #3466e6 100%) !important;}
.new-category .category-bottom{margin-top:140px;}
.new-category .category-bottom .wrap-content{background: #fff;color: #605b56;padding: 20px;position: absolute;z-index: 20;border-radius: 10px;width: 100%;top:-85px;}
.new-category .category-bottom .wrap-content h2{font-size:28px;}
.new-verified-badge{position: absolute;z-index: 100;right: -6px;top: -6px;display: inline-block;width: 95px;}
.new-verified-badge img{max-width:100%;}
.list-item-new .add-2-compare.in-compare{color:#58bc82;position:relative;display:inline-block;}
.list-item-new .add-2-compare.in-compare:before{content:'\f058';font-family: FontAwesome;font-size:15px;display:inline-block;margin:0 5px 0 0;}
@keyframes loading-1{
    0%{-webkit-transform: rotate(0deg);transform: rotate(0deg);}
    100%{-webkit-transform: rotate(180deg);transform: rotate(180deg);}
}
@keyframes loading-2{
    0%{-webkit-transform: rotate(0deg);transform: rotate(0deg);}
    100%{-webkit-transform: rotate(180deg);transform: rotate(180deg);}
}
@keyframes loading-3{
    0%{-webkit-transform: rotate(0deg);transform: rotate(0deg);}
    100%{-webkit-transform: rotate(90deg);transform: rotate(90deg);}
}
@keyframes loading-4{
    0%{-webkit-transform: rotate(0deg);transform: rotate(0deg);}
    100%{-webkit-transform: rotate(36deg);transform: rotate(36deg);}
}
@keyframes loading-5{
    0%{
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100%{
        -webkit-transform: rotate(126deg);
        transform: rotate(126deg);
    }
}
@media only screen and (max-width: 990px){
    .cprogress{ margin-bottom: 20px; }
}
.form-step[data-progress=true]{background:url(https://www.comparasoftware.com/wp-content/themes/wpcs/images/bg-form.jpg) no-repeat center center;}
.form-step .step-description{}
	
@keyframes fadeIn{0%{opacity:0;} 100%{opacity:1;}}
@keyframes fadeOut{0%{opacity:1;} 100%{opacity:0;}}
@media (max-width:720px)
{
	
	#btn-mobile-menu{display:inline-block;margin:22px 5px;border:2px solid #fff;padding:1px 6px;border-radius:4px;}
	#logo{float:left;width:270px;}
	#navigation{background:#454545;margin:0;position:fixed;z-index:999;top:0;bottom:0;left:0;width:0;overflow:hidden;transition:all 0.2s ease-in-out;}
	#navigation.open{width:70%;}
	#navigation .menu{padding:10px;}
	#navigation .menu .menu-item{display:block;width:100%;}
	#software-top{position:relative;}
	#reviews-score .overall-score{margin:0 -30px;}
	#reviews-score .overall-score .card{width:100%;}
}