<template>
  <div>
    <div class="row">
        <div class="col-lg-12 mb-4">
            <button @click="formAdd=!formAdd" v-show="!formAdd" type="button" class="btn btn-primary float-right" title="Add new Software">                     
              <svg class="c-icon">
                <use xlink:href="node_modules/@coreui/icons/sprites/free.svg#cil-playlist-add"></use>
              </svg> Add new Software</button>
        </div>
    </div>

    <div class="row" v-if="formAdd">
    <div class="col-lg-12">
      <form @submit.prevent="addProduct" >
        <div class="card">
            <header class="card-header">
                <strong>Add new </strong> <small>software</small>
            </header>
            <div class="card-body">
                <div class="row">
                    <div class="col-sm-12">
                        <div role="group" class="form-group">
                        <label for="uid-lmr5ga7wdvh" class=""> Title </label><!---->
                        <input id="uid-lmr5ga7wdvh" v-model="product.title" type="text" placeholder="Enter your title" class="form-control"><!----><!----><!----><!---->
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12">

                    <div role="group" class="form-group form-row">
                        <label for="uid-8at8fljwje" class="col-form-label col-sm-3"> Description </label>
                        <div class="col-sm-9">

                            <textarea id="uid-8at8fljwje" v-model="product.description" placeholder="Enter description" rows="9" class="form-control"></textarea>
                        </div>
                    </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12">
                        <div role="group" class="form-group">
                        <label for="uid-hmjbjt4hv1c" class=""> Image URL </label><!---->
                        <input id="uid-hmjbjt4hv1c" v-model="product.image_url" type="text" placeholder="https://lorempixel.com/640/480/?25169" class="form-control">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div role="group" class="form-group">
                        <label for="uid-hmjbjt4hv1c" class=""> Site URL </label><!---->
                        <input id="uid-hmjbjt4hv1c" v-model="product.site_url" type="text" placeholder="https://coreui.io" class="form-control">
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12">

                        <div class="form-row form-group">
                        <label class="col-form-label col-sm-3"> Languaje </label>
                        <div class="col-sm-9">
                            <div role="group" class="custom-control custom-checkbox">
                                <!----><input id="uid-esjsbvd5epj" type="checkbox" name="Option 12" class="custom-control-input" value="Option 1">
                                <label for="uid-esjsbvd5epj" class="custom-control-label"> Option 1 </label><!----><!----><!----><!---->
                            </div>
                            <div role="group" class="custom-control custom-checkbox">
                                <!----><input id="uid-wa0oyydvk1" type="checkbox" name="Option 12" class="custom-control-input" value="Option 2">
                                <label for="uid-wa0oyydvk1" class="custom-control-label"> Option 2 </label><!----><!----><!----><!---->
                            </div>
                            <div role="group" class="custom-control custom-checkbox">
                                <!----><input id="uid-42oyxsuz4lp" type="checkbox" name="Option 12" class="custom-control-input" value="Option 3">
                                <label for="uid-42oyxsuz4lp" class="custom-control-label"> Option 3 </label><!----><!----><!----><!---->
                            </div>
                        </div>
                        </div>

                    </div>
                </div>


            </div>
            <footer class="card-footer ">
                <div class="float-right">
                    <button type="submit" class="btn btn-primary btn-sm" title="Save form">Save</button>
                    <button @click="formAdd=!formAdd" type="reset" class="btn btn-light btn-sm" title="Candel operation"> Cancel</button>
                </div>
            </footer>
        </div>
      </form>

    </div>
    <!-- /.col-->
    </div>
    <!-- /.row-->

    <div class="row" v-else>
    <div class="col-lg-12">
        <div class="card">
            <header class="card-header">
                <strong>Listing </strong> <small>softwares</small>
            </header>
            
            <div class="card-body">
                <table class="table table-responsive-sm">
                <thead>
                    <tr>
                      <th>Title</th>
                      <th>Description</th>
                      <th>Image</th>
                      <th>Site</th>
                      <th>Actions</th>
                    </tr>
                </thead>
                <tbody>

                    <tr v-for="(item, index) in products" :key="index">
                    <td>{{item.title}}</td>
                    <td>{{item.description}}</td>
                    <td><img :src="`${item.image_url}`" width="100px" height="40px"></td>
                    <td>{{item.site_url}}</td>
                    <td>
                      <button class="btn btn-danger btn-sm" @click="deleteProduct(item,index)" title="Delete this software">
                        <svg class="c-icon">
                          <use xlink:href="node_modules/@coreui/icons/sprites/free.svg#cil-trash"></use>
                        </svg>
                      </button>
                    </td>
                    </tr>  

                </tbody>
                </table>
                <!--  <ul class="pagination">
                <li class="page-item"><a class="page-link" href="#">Prev</a></li>
                <li class="page-item active"><a class="page-link" href="#">1</a></li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item"><a class="page-link" href="#">4</a></li>
                <li class="page-item"><a class="page-link" href="#">Next</a></li>
                </ul>  -->
            </div>  
          
        </div>

    </div>
    <!-- /.col-->
    </div>
    <!-- /.row-->


  </div>
</template>

<script>
export default {
  data() {
    return{
      products:[],
      product:{title:'', description:'', image_url:'https://lorempixel.com/640/480/?25169', site_url:''},
      formAdd:false
    }
  },
  created(){
    axios.get('products')
      .then(res=>{
        this.products=res.data;
      })
  },
  methods: {
    addProduct(){
      if(this.product.title.trim() === '' || 
            this.product.description.trim() === ''||
            this.product.image_url.trim() === ''||
            this.product.site_url.trim() === ''
          ){
        alert('You must complete all the fields');
        return;
      }
      // console.log(this.product.title, this.product.description,this.product.image_url,this.product.site_url);
      const params={
        title: this.product.title, 
        description: this.product.description,
        image_url: this.product.image_url,
        site_url: this.product.site_url
      };

      this.product.title=''; 
      this.product.description='';
      this.product.image_url='';
      this.product.site_url='';
      this.formAdd=!this.formAdd;
      
      axios.post('/products',params)
        .then(res=>{
          this.products.push(res.data)
        })
    },
    deleteProduct(item, index){
      axios.delete(`/products/${item.id}`)
        .then(()=>{
          this.products.splice(index,1);
        })
    }
  
  }
}
</script>